$base-black: #000000;
$base-black-light: #48494D;
$base-white: #ffffff;
$base-gray: #F5F5F9;
$base-red: #d12136;

$special-gray: #48494D;
$special-gray-light: #D7D9DF;

$base-f: 'Open Sans', "Arial", sans-serif;
