$base-black: #000000;
$base-black-light: #48494D;
$base-white: #ffffff;
$base-gray: #F5F5F9;
$base-red: #d12136;

$special-black: #1A212F;
$special-red: #BD0C21;
$special-gray: #48494D;
$special-gray-light: #D7D9DF;
$special-gray-s: rgba(189, 190, 194, 0.7);
$special-gray-2: rgba(72, 73, 77, 0.5);

$base-f: "Open Sans", "Arial", sans-serif;
$special-f: "Open Sans SemiBold", "Arial", sans-serif;
$special-f2: "ProximaNova Bold", "Arial", sans-serif;
