.menu__list {
  display: flex;
  justify-content: flex-start;
  column-gap: 60px;
  flex-wrap: wrap;
  margin: 15px 0 15px 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 600;

  &--footer {
    justify-content: flex-start;
  }
}

.menu__link {
  display: block;
  padding: 15px 0;
  text-decoration: none;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  text-decoration: none;
  color: $base-red;
}
