.modal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($base-black, 0.5);

  &--active {
    display: flex;
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $base-white;
}

.new-comment {
  display: grid;
  grid-template-areas:
    "name rating"
    "pros text"
    "cons text"
    "submit submit";
  gap: 20px;
  margin: 30px;
}

.new-comment__input--name {
  grid-area: name;
}

.new-comment__rating {
  grid-area: rating;
}
.new-comment__input--pros {
  grid-area: pros;
}

.new-comment__input--cons {
  grid-area: cons;
}

.new-comment__input--text {
  grid-area: text;
}

.new-comment__submit {
  grid-area: submit;
  margin: 0 100px;
}
.new-comment__input--name {
  padding: 10px;
  background-color: $base-white;
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.rating__label {
  display: block;
  width: 17px;
  height: 16px;
  margin-right: 4px;
  cursor: pointer;
}

.rating__star-img {
  fill: $special-gray-s
}
.rating__input:checked~.rating__label .rating__star-img,
.rating__input:focus~.rating__label .rating__star-img,
.rating__label:hover .rating__star-img,
.rating__label:hover~.rating__label .rating__star-img {
  fill: $base-red;
}

.new-comment__input--text {
  resize: none;
}
