.slider {
  position: relative;
  margin: 0 54px 0 0;
}

.slider__tag {
  position: absolute;
  padding: 6px 28px;
  font-size: 11px;
  text-transform: uppercase;
  border: none;
  font-family: $special-f;
  color: $base-white;
  background-color: $base-red;
}

.slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 39px 0 0 0;
}

.slider__btn {
  background-color: $base-white;
  border: none;
  cursor: pointer;
}

.slider__btn:not(:disabled):hover,
.slider__btn:not(:disabled):focus {
  opacity: 0.7;
}

.slider__icon {
  stroke: $special-gray-light;

  &--active {
    stroke: $special-gray;
  }
}
