.stats {
  position: relative;
  min-width: 344px;
}

.stats__title {
  margin: -4px 0 35px 0;
  padding: 0;
  font-family: $special-f;
  font-size: 30px;
  font-weight: 700;
}

.stats__list {
  display: flex;
  list-style: none;
  margin: 0 0 57px 13px;
  padding: 0;
}

.stats__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 17px 0px 0;
  gap: 10px;
}

.stats__text {
  font-size: 16px;
}

.stats__wrapper-price {
  display: flex;
  margin: 0 0 35px 0;
}

.stats__price-sale {
  font-size: 35px;
  font-weight: 700;
}

.stats__price {
  position: relative;
  margin-left: 35px;
  padding-bottom: 13px;
  color: $special-gray-2;
  font-weight: 400;
  font-size: 20px;
}

.stats__price::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  height: 0;
  border-bottom: 1px solid rgba(72, 73, 77, 0.5);
  transform: rotate(-5deg);
}

.stats__wrapper-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
