.tab {
  margin: 86px 0 140px 0;
  padding: 0;
}
.tab__pane {
  display: none;

  &--active {
    display: block;
  }
}

.tab__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tab__item {
  min-width: 195px;
  padding: 12px;
  text-align: center;
  border: solid 1px $special-gray-light;
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
}

.tab__item:hover,
.tab__item:focus,
.tab__item--active {
  color: $base-white;
  background-color: $base-red;
}


